:root {
  --primary-color: hsl(220, 50%, 90%);
  --secondary-color: hsl(220, 40%, 40%);
  --acsent-color: hsl(220, 80%, 30%);
}
html {
  scroll-behavior: smooth;
}

body {
  font-size: 24px;
  background: var(--primary-color);
  color: var(--secondary-color);
}

form {
  display: grid;
  place-items: center;
}

p,
form {
  padding: 2rem;
  background: var(--secondary-color);
  color: var(--primary-color);
}

form label {
  color: var(--primary-color);
}

form input {
  font-size: 1rem;
  width: 10rem;
  padding: 0.3rem;
  background: var(--primary-color);
  color: black;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 5px 5px 5px black;
  transition: transform 150ms;
}

form input:focus {
  color: black;
  transform: translate(5px, 5px);
  box-shadow: none;
}

form button {
  font-size: 1.5rem;
  width: 10rem;
  color: var(--acsent-color);
  background: var(--primary-color);
  border: none;
  border-radius: 0.3rem;
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 2rem;
  transition: transform 150ms;
}

form button:active {
  color: black;
  box-shadow: none;
  transform: translate(5px, 5px);
}
