:root {
  --primary-color: hsl(220, 50%, 90%);
  --secondary-color: hsl(220, 40%, 40%);
  --acsent-color: hsl(220, 80%, 30%);
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 24px;
  padding-top: 2rem;
  color: var(--secondary-color);
  background: var(--primary-color);
}

h2 {
  cursor: default;
  user-select: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

form {
  display: grid;
  place-items: center;
}

form label {
  padding-block-end: .5rem;
  color: var(--primary-color);
}

p {
  display: flex;
  flex-direction: column;
}

p,
form {
  padding: 2rem;
  background: var(--secondary-color);
  color: var(--primary-color);
}

form input,
form select,
form textarea,
form button {
  width: 10rem;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 5px 5px 5px black;
  transition: transform 150ms;
}

form input,
form select,
form textarea {
  font-size: 1rem;
  color: black;
  background: var(--primary-color);
  padding: 0.3rem;
}

form button {
  font-size: 1.5rem;
  color: var(--acsent-color);
  background: var(--primary-color);
  margin-top: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

form textarea {
  margin-bottom: 20px;
}

select:hover,
textarea:focus,
button:focus,
input:focus {
  color: black;
  transform: translate(5px, 5px);
  box-shadow: none;
}
