.nav a
{
  border-radius: 10px 10px 0 0;
  background-color: var(--secondary-color);
  padding: 0.5rem;
  transition: padding-top 150ms;
}

.nav a:hover {
  padding-top: 15px;
}

a.active {
  font-weight: bold;
  padding-top: 5px;
}
